@model SimpleBlackBoard.Models.Lecturer
@{
    ViewBag.Title = "Register";
}

<h2>LecturerRegister</h2>


    @using (@Html.BeginForm("LecturerRegister", "Register", FormMethod.Post))
    {
        <h1>Lecturer Signup</h1>
        <div class="lecturer-editor">
            @Html.EditorForModel()
            <input type="submit" value="submit" />
        </div>
        <div style="border-top: 1px solid#888; padding-top:17px; font-size:85%">
            <a href="StudentRegister">
                Are you a Student?
            </a>
        </div>
    }

