@model SimpleBlackBoard.Models.Student
@{
    ViewBag.Title = "Register";
}
<html>
<body>
<h2>Register</h2>

@Html.ValidationSummary()

    @using (@Html.BeginForm("StudentRegister", "Register", FormMethod.Post))
    {
        <h1>Student Signup</h1>
        <div class="student-editor">
            @Html.EditorForModel()
            <input type="submit" value="submit" />
            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                <a href="LecturerRegister">
                    Are you a Lecturer?
                </a>
            </div>
        </div>
    }

</body>
</html>
