@model SimpleBlackBoard.Models.Assignment
@{
    ViewBag.Title = "Lecturer";
}
<div class="container">
    <h2>LecturerView</h2>

    <ul class="list-group">
        @foreach (var assignment in @ViewBag.Assignments)
        {
            <li class="list-group-item clearfix">
                <p style="display:inline">Student ID: @assignment.Student_ID</p>
                <form action="~Grade/@assignment.Student_ID" style="display:inline">
                    <span class="pull-right">
                        <button class="btn btn-default">Grade</button>
                    </span>
                </form>
            </li>
        }
    </ul>

</div>