@model SimpleBlackBoard.Models.Assignment
@{
    ViewBag.Title = "Lecturer";
}

<div class="row LoginHeader text-center">
    <h2>Lecturer Dashboard</h2>
</div>
   
    <br />
<div class="row text-center">
    @if (Enumerable.Count(ViewBag.Assignments) == 0)
    {
        <h5 style="color:red">No assignments to grade!</h5>
    }
    else
    {
        <ul class="list-group">

            @foreach (var assignment in @ViewBag.Assignments)
            {
                <li class="list-group-item clearfix" sstyle="vertical-align: middle;">
                    <p style="display:inline">Student ID: @assignment.Student_ID</p>
                    <form method="get" action="~/Dashboard/Grade/@assignment.Student_ID" style="display:inline">
                        <span class="pull-right">
                            @if (assignment.Grade == 0)
                            {
                                <button class="btn btn-success">Grade</button>
                            }
                            else
                            {
                                <button class="btn btn-default disabled" disabled>Graded</button>
                            }
                        </span>
                    </form>
                </li>
            }
        </ul>
    }
</div>
    
