
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form action="Upload" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>

<br />

@if (@ViewBag.Error != "" && @ViewBag.Error != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @ViewBag.Error
    </div>
} 

